/* colores:
    rosa palo: #fd9dff
    negro azulado: #0f0e21

  colores halloween 1:
    naranja: #ff7531
    negro: #1D1C30

  colores halloween 2:
    morado oscuro: #381566
    morado: #893EFF

  colores diferentes:
    rosa: #CD7E98
    otro: #941F48

  colores navidad:
    color fondo: #BD1725
    color demas: #C3E2E4  
    color verde: #BD1725

  colores navidad:
    color fondo: #C3E2E4
    color fondo2: #OC494A
    color 2: #BD1725  
    color 3: #BD1725
    color 4: #2F7D81
*/

header {
  background-color: #0C494A;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F7D81;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: #BD1725;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  background-color: #C3E2E4;
  color: #C3E2E4;
  font-family: Arial;
}

.titulo {
  text-align: center;
  text-shadow: 2px 2px 5px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #BD1725;
}

.caja1 {
  background-color: #2F7D81;
  max-width: 400px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#BD1725;
  padding: 50px;
  float: left;
}

.caja2 {
  background-color: #2F7D81;
  max-width: 400px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#C3E2E4;
  padding: 50px;
  float: left;
}

.caja3 {
  background-color: #2F7D81;
  max-width: 400px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#BD1725;
  padding: 50px;
  float: left;
}

.caja4 {
  background-color: #2F7D81;
  width: 1200px;
  height: 1100px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #BD1725;
  padding: 50px;
  float: left;
}

.caja5 {
  background-color: #2F7D81;
  width: 1200px;
  height: 1700px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #BD1725;
  padding: 50px;
  float: left;
}

.caja6 {
  background-color: #2F7D81;
  width: 300px;
  height: 700px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#BD1725;
  padding: 50px;
  float: left;
}

.caja7 {
  background-color: #2F7D81;
  max-width: 400px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#BD1725;
  padding: 50px;
  float: left;
}

.cajalink {
  background-color: #C3E2E4;
  width: 200px;
  margin: auto;
  border: 3px solid #BD1725;
  padding: 1px;
  text-align: center;
}

.cajalink2 {
  background-color: #C3E2E4;
  width: 200px;
  margin: 10px;
  border: 3px solid #BD1725;
  padding: 1px;
  text-align: center;
  float: left;
}

.cajalink a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #BD1725;
}

.cajalink2 a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #BD1725;
}

.botones {
  background-color: #C3E2E4;
  width: 150px;
  margin: 10px;
  border: 3px solid #BD1725;
  padding: 1px;
  color:#BD1725;
  text-align: center;
}

.lista {
  display: grid;
  font-family: Arial;
  color: #BD1725;
}

