/* colores:
    rosa palo: #fd9dff
    negro azulado: #0f0e21

  colores halloween 1:
    naranja: #ff7531
    negro: #1D1C30

  colores halloween 2:
    morado oscuro: #381566
    morado: #893EFF

*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(59, 55, 55);
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: #FD9DFD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  background-color: #1D1C30;
  color: white;
  font-family: Arial;
}

.titulo {
  text-align: center;
  text-shadow: 2px 2px 5px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #fd9dff;
}

.caja1 {
  background-color: rgb(59, 55, 55);
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#fd9dff;
  padding: 50px;
  float: left;
}

.caja2 {
  background-color: rgb(59, 55, 55);
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:white;
  padding: 50px;
  float: left;
}

.caja3 {
  background-color: rgb(59, 55, 55);
  width: 300px;
  height: 500px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#fd9dff;
  padding: 50px;
  float: left;
}

.caja4 {
  background-color: rgb(59, 55, 55);
  width: 1200px;
  height: 1100px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fd9dff;
  padding: 50px;
  float: left;
}

.caja5 {
  background-color: rgb(59, 55, 55);
  width: 1200px;
  height: 1700px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fd9dff;
  padding: 50px;
  float: left;
}

.caja6 {
  background-color: rgb(59, 55, 55);
  width: 300px;
  height: 700px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#fd9dff;
  padding: 50px;
  float: left;
}

.caja7 {
  background-color: rgb(59, 55, 55);
  max-width: 400px;
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#fd9dff;
  padding: 50px;
  float: left;
}

.cajalink {
  background-color: #1D1C30;
  width: 200px;
  margin: auto;
  border: 3px solid #fd9dff;
  padding: 1px;
  text-align: center;
}

.cajalink2 {
  background-color: #1D1C30;
  width: 200px;
  margin: 10px;
  border: 3px solid #fd9dff;
  padding: 1px;
  text-align: center;
  float: left;
}

.cajalink a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fd9dff;
}

.cajalink2 a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fd9dff;
}

.botones {
  background-color: #1D1C30;
  width: 150px;
  margin: 10px;
  border: 3px solid #fd9dff;
  padding: 1px;
  color:#fd9dff;
  text-align: center;
}

.lista {
  display: grid;
  font-family: Arial;
  color: #fd9dff;
}

