body {
    background-color: white;
}

header {
    display: grid;
    
}

.titulo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.perfil {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-content: right;
}


nav {
    display: flex;
    justify-content: center;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
nav > ul > li {
    float: left;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    
} 

/*#listaSlide {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#listaSlide > li {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}*/

nav > ul > li a {
    text-decoration: none;
    color: black
}
  
nav > ul > li:hover {
    background-color: lightgray;
    font-weight: bold;
    border: 1px black solid;
    color: black;
  }

.elementos {
    display: grid;

}

  .elementos > section {
    display: grid;
    grid-template-columns: auto auto auto;
}

.elementos > section > article{
    display: inline-block;
    background-color: white;
    margin: 10px;
    padding: 20px;
}

.elementos > section > article > img:hover {
    transform: scale(1.8, 2.0);
}
