  h1 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
  }
  
  .contenedor {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #cabecero {
    background-color: #3f51b5;
    text-align: center;
  }
  
  .elemento {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .elemento:last-child {
    border-bottom: 0;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #3f51b5;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-weight: 200;
    width: 40%;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #3f51b5;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }

  .diana {
    height: 40px;
    display: flex;
    flex-flow: row;
    width: auto;
    background-color: #3f51b5;
  }

  #idCirculo {
    position:absolute;
  }

  #idCirculo {
    width: 40px;
    height: 40px;
    border: solid red 8px;
    border-radius: 50%;
    position:absolute;
    background-color: yellow;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #idCentroCirculo {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    left: 10px;
    top: 10px;
  }
  #hueco {
    height: 600px;
    background: #7CA3CD;
  }

  .pistola {
    height: 30px;
    background-color: #3f51b5;
  }

  #idPistola {
    position:absolute;
    width: 5px;
    height: 35px;
    background-color: brown;
  }

  #aciertos {
    background-color: green;
    height: 100px;
    width: 300px;
  }

  #fallos{
    background-color: red;
    height: 100px;
    width: 300px;
  }

  #divBotones {
    height: 300px;
    background-color: #7CA3CD;
    padding: 10px;
  }

  #idResetMarcadores {
    padding: 10px;
  }

  #idMusica {
    padding: 10px;
  }